html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #161826;
	color: #ffe;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.link {
  display: block;
  padding: 4px 8px 4px 20px;
}
.link:link, .link:visited {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  color: #bccee4;
}
.link > i {
  margin-right: 10px;
}
.link > hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin-right: 45px;
  width: auto;
}